<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="description" content="Eat Da Burger">
    <meta name="author" content="JJPower">


    <title>Eat Da Burger App</title>
    <!--Bootstrap-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!--Custom CSS-->
    <link href="../../assets/css/burger_style.css" rel="stylesheet">

</head>

<body>
    <div>

        {{{ body }}}

    </div>
    <hr>
    <!--Container-->
    <footer class="container">
        <p> Copyright &#9400 2018 Eat Da Burger </p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/assets/js/index.js"></script>
</body>

</html>